
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  padding: 0 35px;
  align-items: center;
  justify-content: center;
  background: #343F4F;
}

.foto, img{
  height: 100;
  width: 700;
  border-radius: 15px;
  margin: 15px;
  margin-left: 25px;
  margin-right: 25px;
}