
body {
    background-color: rgb(11, 12, 12);
    display: grid;
    align-items: center;
    height: 100vh;
    font-family: 'Arial', sans-serif;
}

  .glowing {
    position: relative;
    transform-origin: right;
    animation: colorChange 5s linear infinite;
  }
  
  .glowing:nth-child(even) {
    transform-origin: left;
  }
  
  @keyframes colorChange {
    0% {
      filter: hue-rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      filter: hue-rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  .glowing span {
    position: absolute;
    top: calc(80px * var(--i));
    left: calc(80px * var(--i));
    bottom: calc(80px * var(--i));
    right: calc(80px * var(--i));
  }
  
  .glowing span::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -8px;
    width: 15px;
    height: 15px;
    background: #f00;
    border-radius: 50%;
  }
  
  .glowing span:nth-child(3n + 1)::before {
    background: rgba(134,255,0,1);
    box-shadow: 0 0 20px rgba(134,255,0,1),
      0 0 40px rgba(134,255,0,1),
      0 0 60px rgba(134,255,0,1),
      0 0 80px rgba(134,255,0,1),
      0 0 0 8px rgba(134,255,0,.1);
  }
  
  .glowing span:nth-child(3n + 2)::before {
    background: rgba(255,214,0,1);
    box-shadow: 0 0 20px rgba(255,214,0,1),
      0 0 40px rgba(255,214,0,1),
      0 0 60px rgba(255,214,0,1),
      0 0 80px rgba(255,214,0,1),
      0 0 0 8px rgba(255,214,0,.1);
  }
  
  .glowing span:nth-child(3n + 3)::before {
    background: rgba(0,226,255,1);
    box-shadow: 0 0 20px rgba(0,226,255,1),
      0 0 40px rgba(0,226,255,1),
      0 0 60px rgba(0,226,255,1),
      0 0 80px rgba(0,226,255,1),
      0 0 0 8px rgba(0,226,255,.1);
  }
  
  .glowing span:nth-child(3n + 1) {
    animation: animate 10s alternate infinite;
  }
  
  .glowing span:nth-child(3n + 2) {
    animation: animate-reverse 3s alternate infinite;
  }
  
  .glowing span:nth-child(3n + 3) {
    animation: animate 8s alternate infinite; 
  }
  
  @keyframes animate {
    0% {
      transform: rotate(180deg);
    }
    50% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate-reverse {
    0% {
      transform: rotate(360deg);
    }
    
    50% {
      transform: rotate(180deg);
    }
    
    100% {
      transform: rotate(0deg);
    }
  }

.wrapper {
    margin-top: 80px;
    margin-left: -100px;
}

.img-circle {
    border-radius: 50%;
    height: 40px;
}

.img-circle {
    animation: slide-img 2s both;
}

@keyframes slide-img {
    0% {
        transform: translateY(-1000px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.landing {
    margin-top: 55px;
}

.text-container h3 {
    animation: slide-in-h3 3s both;
}

@keyframes slide-in-h3 {
    0% {
        transform: translateX(1000px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}  

.text-container h6 {
    animation: slide-in-h6 3s both;
}

@keyframes slide-in-h6 {
    0% {
        transform: translateX(-1000px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}  

.text-container {
    color: azure;
    margin-left: 20px;
    word-spacing: 10px;

}

.navbar-brand, .offcanvas-title, .nav-link {
    color: azure;
}

.tree, .tree2 {
    animation: slide-tree 2s both;
}

@keyframes slide-tree {
    0% {
        transform: translateY(-200px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.tree {
    width: 100%;
    height: 100%;
    margin-top: 5rem;
    text-align: center;
}

.tree ul {
    padding-top: 20px;
    position: relative;
    transition: .5s;
}

.tree li {
    display: inline-table;
    text-align: center;
    list-style-type: none;
    position: relative;
    transition: .5s;
    margin: 5px;
    right: 9px;
   
}

.tree h5 {
    color: grey;
}

.tree a {
    border: 1px solid #ccc;
    padding: 10px;
    display: inline-grid;
    border-radius: 5px;
    text-decoration-line: none;
    transition: .5s;
}

.tree a img {
    width: 80px;
    height: 80px;
    margin-bottom: 10px !important;
    border-radius: 100px;
    margin: auto;
}

.tree a span {
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #666;
    padding: 8px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
}

.text-anggota {
    text-align: center;
    color: grey;
}

/* anggota */
.tree2 {
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: 1rem;
}

.tree2 ul {
    position: relative;
    transition: .5s;
}

.tree2 li {
    display: inline-table;
    text-align: center;
    list-style-type: none;
    position: relative;
    transition: .5s;
    margin: 15px;
}

.tree2 a{
    border: 1px solid #ccc;
    padding: 10px;
    display: inline-grid;
    border-radius: 5px;
    text-decoration-line: none;
    transition: .5s;
}

.tree2 a img{
    width: 80px;
    height: 80px;
    margin-bottom: 10px !important;
    border-radius: 100px;
    margin: auto;
}

.tree2 a span {
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #666;
    padding: 8px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
}


.structure {
    text-align: center;
    color: azure;
}

.tabel-matpel {
    animation-duration: 3s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {

    }
  
    to {
      margin-bottom: 0%;
      width: 100%;
    }
  }

/* Tabel */
.tabel-matpel {
    color: azure;
    display: flex;
    justify-content: center;
}


.tabel {
    border-collapse: collapse;
    display: inline-table;
    width: 65%;
    height: 250px;
}



.tabel, th, td {
    border: 1px solid azure;
}

th, td {
    padding: 10px;
    text-align: center;
}



@media (min-width: 768px) {
    .wrapper {
        margin-top: 90px;
        margin-left: 0;
        margin-right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .img-circle {
        margin: 10px;
    }

    .text-container{
        text-align: center;

    }
}

/* Media Queries */
@media only screen and (max-width: 320px) {
    /* Styles for devices with a screen width of 320px or less */
    .wrapper {
        margin-left: 185px;
        text-align: justify;
        
    }

    .text-container {
        margin-left: 10px;
        text-align: center;
    }
    .tree2 {
        align-items: center;
        text-align: center;
    }


}

@media only screen and (min-width: 321px) and (max-width: 375px) {
    .wrapper{
        margin-left: 150px;
        margin-right: 150px;
    }

    .text-container{
        text-align: center;
    }

    .text-anggota {
        text-align: center;
        display: block;
    }
    
}

@media only screen and (min-width: 376px) and (max-width: 425px) {
    .wrapper{
        margin-left: 150px;
        margin-right: 150px;
    }

    .text-container{
        text-align: center;
    }

    .text-anggota {
        text-align: center;
        display: block;
    }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
    .wrapper{
        margin-left: 150px;
        margin-right: 150px;
    }

    .text-container{
        text-align: center;
    }

    .text-anggota {
        text-align: center;
        display: block;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .wrapper{
        margin-left: 150px;
        margin-right: 150px;
    }

    .text-container{
        text-align: center;
    }

    .text-anggota {
        text-align: center;
        display: block;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1440px) {
    .wrapper{
        margin-left: 150px;
        margin-right: 150px;
    }

    .text-container{
        text-align: center;
    }

    .text-anggota {
        text-align: center;
        display: block;
    }
}