

body {
    /* background-color: rgb(11, 12, 12); */
    background-color: white;
}

.wrapper {
    margin-top: 80px;
}

.img-circle {
    border-radius: 50%;
    height: 40px;
}

.landing {
    margin-top: 55px;
}

.text-container {
    color: azure;
    margin-left: 20px;
}

.navbar-brand, .offcanvas-title, .nav-link {
    color: azure;
}



.tree {
    width: 100%;
    height: auto;
    text-align: center;
}

.tree ul {
    padding-top: 20px;
    position: relative;
    transition: .5s;
}

.tree li {
    display: inline-table;
    text-align: center;
    list-style-type: none;
    position: relative;
    padding: 10px;
    transition: .5s;
}


